@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

body {
  padding: $mobile-padding-before-headlines 0;
}

.add-quiz-page {
  text-align: center;
  padding: $mobile-padding-between-components;
  height: 100%;
  width: 100%;

  &__title {
    font-size: $mobile-h2-text-size;
    color: $title-text-color;
    padding-bottom: $mobile-padding-between-components;
    padding-top: $mobile-padding-between-components;
    margin-bottom: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      display: flex;
      flex-direction: column;
      margin-top:$mobile-padding-before-headlines;
      margin-bottom:$mobile-padding-after-headlines;
    }

    &--trick-answers {
      display: flex;
      flex-direction: column;
      gap: $increment;
    }
  }

  &__difficulty-wrapper {
    display: flex;
    flex-direction: row;
    gap:8px;
    width: 100%;
  }

  &__difficulty {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    button {
      padding: 12px;
      border-radius: $cta-border-radius;
      cursor: pointer;
      background-color: $card-background-color;
      border: 1px solid $inactive-input-field-outline-color;
      width: 105px;

      &:hover {
        background-color: $primary-cta-active-background-color;
        border-color: $primary-cta-active-background-color;
        color: $white-text-color;
      }

      &.selected {
        background-color: $primary-cta-active-background-color;
        border-color: $primary-cta-active-background-color;
        color: $white-text-color;
      }
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top:$mobile-padding-after-headlines*2;
    align-items: center;
  }

  &__error {
    color:grey;
    font-size: $mobile-body-text-size;
    margin-bottom: 0;
  }
}
