@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

body {
  padding: $mobile-padding-before-headlines 0;
}

.home-page {
    padding: $mobile-padding-before-headlines;
    text-align: center;
  
    &__title {
      font-size: $mobile-h1-text-size;
      color: $title-text-color;
      margin-bottom: $mobile-padding-after-headlines;
      padding:$mobile-padding-after-headlines 0;
    }
  
    &__subtitle {
      font-size: $mobile-h3-text-size;
      color: $body-text-color;
      margin-bottom: $mobile-padding-after-headlines;
      padding:$mobile-padding-after-headlines 0;
      font-weight: $font-weight-regular;
      line-height: $mobile-h2-line-height;
    }
  
    &__difficulty-title {
      font-size: $mobile-h2-text-size;
      color: $title-text-color;
      margin-top: $mobile-padding-after-headlines*3;
      margin-bottom: $mobile-padding-after-headlines;
      padding:$mobile-padding-after-headlines 0;
      font-weight: $font-weight-bold;
    }
  
    &__difficulty-cards {
      display: flex;
      justify-content: space-around;
      margin-bottom: $mobile-padding-between-components;
    }

    &__cta {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding:$mobile-padding-after-headlines 0;
      margin-top: $mobile-padding-after-headlines*4;
    }
  }
  