@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

body {
  padding: $mobile-padding-before-headlines 0;
}

.home-page {
    padding: $mobile-padding-before-headlines;
    text-align: center;
  
    &__title {
      font-size: $mobile-h1-text-size;
      color: $title-text-color;
      margin-bottom: $mobile-padding-after-headlines;
      margin-top: 0;
      padding:$mobile-padding-after-headlines 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }
  
    &__subtitle {
      font-size: $mobile-h3-text-size;
      color: $body-text-color;
      margin-bottom: $mobile-padding-after-headlines;
      padding:$mobile-padding-after-headlines 0;
      font-weight: $font-weight-regular;
      line-height: $mobile-h2-line-height;
    }

    &__nickname-title {
      font-size: $mobile-h3-text-size;
      color: $title-text-color;
      margin-top: $mobile-padding-after-headlines;
    }
  
    &__nickname-input {
      width: 50%;
    }

    &__difficulty-title {
      font-size: $mobile-h3-text-size;
      color: $title-text-color;
      padding:$mobile-padding-after-headlines 0;
      font-weight: $font-weight-bold;
      margin-bottom:0;
    }
  
    &__difficulty-cards {
      display: flex;
      justify-content: space-around;
      margin-bottom: $mobile-padding-between-components;
    }

    &__cta {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding:$mobile-padding-after-headlines 0;
      margin-bottom: 30px;
    }

    &__error {
      color: grey;
      font-size: $mobile-body-text-size;
      margin-top: 10px;

      &--nickname {
        margin-bottom: 0;
      }
    }
  
    .shake {
      animation: shake 0.5s;
    }
  
    @keyframes shake {
      0%, 100% { transform: translateX(0); }
      20%, 60% { transform: translateX(-10px); }
      40%, 80% { transform: translateX(10px); }
    }
}
