@use './styles/partials/variables' as *;

html, body, #root {
    // height: 100%;
    margin: 0;
    padding: 0;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
  }

  body {
    height: 100%;
  }

  #root {
    height: 100%;
    width: 100%;
    min-width: $mobile-screen-width; 
    min-height: $mobile-screen-height; 
    // overflow: hidden; 
    // border: 1px solid #ccc; 
    // box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: $background-color;  
  }


  .footer {
    position: absolute;
    bottom: 0;
  }