@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.difficulty-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 16px;
    transition: transform 0.2s ease;
    border:1px solid $card-border-color;
    height: 140px;
    width: 96px;
    border-radius: 10px;
    background-color: $card-background-color;

    &:active {
      border-color: $card-active-border-color;
    }

    &__icon {
      width: $mobile-icon-width;
      height: $mobile-icon-height;
    }

    &__label {
      margin-top: 12px;
      font-size: $mobile-label-button-text-size;
      line-height: $mobile-label-button-line-height;
      color: $card-text-color;
      font-weight: $font-weight-bold;
    }
  
    &:hover {
      transform: scale(1.05);
    }
  }
  