$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$background-color:#FBFBEF;

$title-text-color:#FF6234;
$header-text-color:#17873F;
$body-text-color:#000000;
$placeholder-text-color: #D9D9D9;
$card-text-color: #FF6234;
$card-active-text-color:#FFFFFF;


$font-weight-bold: 700;
$font-weight-demi: 600;
$font-weight-regular: 400;

$mobile-h1-text-size: 48px;
$mobile-h1-line-height: 32px;
$mobile-h2-text-size: 24px;
$mobile-h2-line-height: 24px;
$mobile-h3-text-size: 18px;
$mobile-h3-line-height: 18px;
$mobile-body-text-size: 14px;
$mobile-body-line-height: 18px;
$mobile-label-button-text-size: 13px;
$mobile-label-button-line-height: 20px;
$mobile-padding-before-headlines:24px;
$mobile-padding-after-headlines:16px;
$mobile-padding-between-components:16px;
$mobile-icon-width:auto;
$mobile-icon-height:36px;

$cta-border-radius: 40px;
$cta-height: 48px;
$cta-width: 340px;

$primary-cta-default-background-color:#FF6234;
$primary-cta-default-border-color:#FF6234;
$primary-cta-default-text-color:#FFFFFF;
$primary-cta-hover-background-color:#DB5630;
$primary-cta-hover-border-color:#DB5630;
$primary-cta-hover-text-color: #FFFFFF;
$primary-cta-active-background-color: #17873F;
$primary-cta-active-border-color: #17873F;
$primary-cta-active-text-color: #FFFFFF;

$secondary-cta-default-background-color:#FFFFFF;
$secondary-cta-default-border-color:#FF6234;
$secondary-cta-default-text-color:#FF6234;
$secondary-cta-hover-background-color:#FFFFFF;
$secondary-cta-hover-border-color:#DB5630;
$secondary-cta-hover-text-color: #DB5630;
$secondary-cta-active-background-color: #FFFFFF;
$secondary-cta-active-border-color: #17873F;
$secondary-cta-active-text-color: #17873F;

$inactive-input-field-outline-color:#E1E1E1;
$active-input-field-outline-color:#FF6234;
$input-field-background-color:#FFFFFF;
$input-field-border-radius:10px;

$inactive-button-background-color:#D9D9D9;
$inactive-button-text-color:#696666;
$active-button-background-color:#17873F;
$active-button-text-color:#FFFFFF;
$button-border-radius: 10px;

$card-border-color:#FF6234;
$card-background-color:#FFFFFF;
$card-active-background-color:#FF623480;
$card-active-border-color:#17873F;


$logo-height: 25px;
$logo-width: 120px;

$increment: 8px;