@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;


.quiz-added-page {
  text-align: center;
  padding: $mobile-padding-between-components;

  &__title {
    font-size: $mobile-h2-text-size;
    color: $title-text-color;
    margin-bottom: $mobile-padding-between-components;
  }

  &__message {
    font-size: $mobile-body-text-size;
    color: $body-text-color;
    margin-bottom: $mobile-padding-between-components;
    padding: 0 16px;
  }

  &__image {
    width: 240px;
    padding-top:$mobile-padding-between-components;
    padding-bottom:$mobile-padding-between-components*2;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 50px;
  }
}