@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.quiz-page {
  text-align: center;
  padding: $mobile-padding-between-components;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__title {
    font-size: $mobile-h2-text-size;
    color: $header-text-color;
    margin-bottom: 16px;
  }

  &__question {
    font-size: $mobile-h3-text-size;
    color: $body-text-color;
    margin-bottom: 24px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .quiz-page__option {
      padding: 12px;
      font-size: $mobile-body-text-size;
      border-radius: 8px;
      border: 1px solid $inactive-input-field-outline-color;
      cursor: pointer;
      background-color: $card-background-color;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $primary-cta-hover-background-color;
      }

      &.correct {
        background-color: $correct-option-background-color;
        color: $white-text-color;
      }

      &.incorrect {
        background-color: $incorrect-option-background-color;
        color: $white-text-color;
      }
    }
  }

  &__bottom-section {
    margin-bottom: 50px;
  }
  
  &__back-home {
    color:$title-text-color;
    font-weight: $font-weight-demi;
    cursor: pointer;
  }
}