@use '../../styles/partials/global' as *;
@use '../../styles/partials/variables' as *;

.quiz-page {
  padding: $mobile-padding-between-components;
  text-align: center;

  &__question {
    font-size: $mobile-h2-text-size;
    color: $title-text-color;
    margin-bottom: $mobile-padding-after-headlines;
  }

  &__options {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: $mobile-padding-between-components;
  }
}
