@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.question-count {
  padding: 16px;
  text-align: center;
  width: 340px;


  &__text {
    font-size: $mobile-body-text-size;
    color: $footer-text-color;
  }
}
