@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  padding: 16px;
  text-align: center;
  width: 340px;
  position: absolute;
  bottom: 0;


  &__text {
    margin: 0;
    color: lightgrey;
    font-size: 12px;
  }
}
