@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer {
    display: flex;
    justify-content: center;
    padding: 16px;
    
    &__progress {
      font-size: $mobile-body-text-size;
      color: $body-text-color;
    }
  }
  