@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.primary-cta {
    background-color: $primary-cta-default-background-color;
    color: $primary-cta-default-text-color;
    border-radius: $cta-border-radius;
    border: 2px solid $primary-cta-default-border-color;
    cursor: pointer;
    font-size: $mobile-body-text-size;
    transition: background-color 0.3s ease;
  
    // &:hover {
    //   background-color: $primary-cta-hover-background-color;
    //   border-color: $primary-cta-hover-border-color;
    //   color: $primary-cta-hover-text-color;
    // }

    &:hover {
      transform: scale(1.05);
    }
  
    &:active {
      background-color: $primary-cta-active-background-color;
      border-color: $primary-cta-active-border-color;
      color: $primary-cta-active-text-color;
    }
  }
  