@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.multiple-choice-option {
  padding: 0 12px;
  border-radius: $input-field-border-radius;
  border: 1px solid $inactive-input-field-outline-color;
  background-color: $input-field-background-color;
  font-size: $mobile-body-text-size;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.correct {
    background-color: $correct-option-background-color;
    color: $white-text-color;
  }

  &.incorrect {
    background-color: $incorrect-option-background-color;
    color: $white-text-color;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
