@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.input-field {
  display: flex;
  flex-direction: column;
  
  &__label {
    font-size: $mobile-body-text-size;
    color: $body-text-color;
  }

  &__input {
    padding: 8px;
    border: 1px solid $inactive-input-field-outline-color;
    border-radius: $input-field-border-radius;
    width: 100%;
    font-size: $mobile-body-text-size;

    &::placeholder {
      background-color: white;
  }
}
}
